ol, ul {
  list-style: circle; }


@media (max-width: 800px) {
	/*body.page-template-page-fullsingle-split {
		word-break: break-all;
	}*/
	.split-intro {
		font-size: 37px;
		line-height: 47px;
	}
	.fs-split .split-content {
		width: 95%;
		min-height: 100vh;
		display: -ms-flexbox;
		align-items: center;
		justify-content: center;
		overflow: auto;
	}
}
