<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
    
      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
<!--         {{ partial "intro" . }} -->

        <!-- Bio -->
<!--         {{ partial "bio" . }} -->

        <!-- Sign-Up -->
      <!--   <script async data-uid="02921326b7" src="https://f.convertkit.com/02921326b7/fc4d50c02c.js"></script> -->

        <!-- Details -->
<!--         {{ partial "details" . }} -->


        <div class="split-bio">
        {{ .Content }}
        
        </div>

        <!-- Links -->
<!--         {{ partial "links" . }}
 -->
        <!-- Footer -->
        {{ partial "footer" . }}

        <br>
        <br>

                <!-- Sign-Up -->
        <script async data-uid="02921326b7" src="https://f.convertkit.com/02921326b7/fc4d50c02c.js"></script>

      </div>
    </div>

  </div>

</body>
</html>
