<div class="split-credit">
  <p>Some of these links are affiliate links, which means that I earn a commission if you click them (at no extra cost to you). I only link to resources that I have vetted myself - you can trust that my primary motivation is to help you learn faster. These purchases help support PhD to CEO, but please only buy items that will help you on your journey. PhD to CEO is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com.</p>




</div>
