<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
    
      <div class="split-image">

      </div>

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Sign-Up -->
        <script async data-uid="be6dc437df" src="https://f.convertkit.com/be6dc437df/7faa4a5ad3.js"></script>

        <!-- Details -->
        {{ partial "details" . }}

        <!-- P.S. -->
        {{ partial "ps" . }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
<!--         {{ partial "footer" . }} -->

      </div>
    </div>

  </div>

  <script type="text/javascript" id="cookieinfo"
  src="//cookieinfoscript.com/js/cookieinfo.min.js">
  </script>


</body>
</html>
